{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-padding-top-3">
      Professional Registration
      <span class="govuk-caption-xl govuk-!-padding-top-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        iusto ex repellat possimus distinctio atque minima ab unde nobis.
        Minus cum dolores quos mollitia libero.</span>
    </h1>
  </div>
</div>

{% if errorList.length %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for item in errorList %}
        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<form id="organisation-form" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Tell us about your organisation
          </h1>
        </legend>
        <div
          class="govuk-form-group {% if errors.organisationName %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="organisation-name">
            Name of your organisation
          </label>
          {% if errors.organisationName %}
          <p id="organisationName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ errors.organisationName.text }}
          </p>
          {% endif %}
          <input
            class="govuk-input {% if errors.organisationName %}govuk-input--error{% endif %}"
            id="organisation-name"
            name="organisationName"
            type="text"
            autocomplete="organization"
            spellcheck="false"
            value="{{ registerProfessional.organisation.name }}"
            aria-describedby="organisation-name-hint" />
        </div>
        <div
          class="govuk-form-group {% if errors.organisationType %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="organisation-type">
            Type of organisation
          </label>
          {% if errors.organisationType %}
          <p id="organisationType-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ errors.organisationType.text }}
          </p>
          {% endif %}
          <select
            class="govuk-select {% if errors.organisationType %}govuk-select--error{% endif %}"
            id="organisation-type"
            name="organisationType"
            aria-describedby="organisation-type-hint">
            <option value="">Please select</option>
            <option value="company" {% if registerProfessional.organisation.type=='company' %}selected{% endif %}>Company</option>
            <option value="charity" {% if registerProfessional.organisation.type=='charity' %}selected{% endif %}>Charity</option>
            <option value="local-government" {% if registerProfessional.organisation.type=='local-government' %}selected{% endif %}>Local Government</option>
          </select>
        </div>
      </fieldset>
    </div>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>
{% endblock %}